<!doctype html>
<html lang="{{ site.locale }}">
  <head>
    {% render "head" %}
  </head>
  <body class="{{ resource.data.layout }} {{ resource.data.page_class }}">
    {% render "navbar", metadata: site.metadata, resource: resource %}

    <main>
        <div class="medium_width">
          <h2>All posts</h2>
          
          {% for post in paginator.resources %}
            <article>
              <a href="{{ post.relative_url }}"><h2>{{ post.data.title }}</h2></a>

              <p>{{ post.data.description }}</p>
            </article>
          {% endfor %}
          
          {% if paginator.total_pages > 1 %}
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li>
      <a href="{{ paginator.previous_page_path }}">Previous Page</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li>
      <a href="{{ paginator.next_page_path }}">Next Page</a>
    </li>
    {% endif %}
  </ul>
    {% endif %}
   </div>
    </main>

    {% render "footer" %}
  </body>
</html>
